<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="header">
    <meta charset="UTF-8"  name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</head>
<body>
  <div th:fragment="form (name)" class="container mt-5">

    <div class="mb-1">
      <span th:utext="${#strings.capitalize(name)}"></span>
    </div>

    <form th:action="@{'/' + ${name}}" method="post">
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">User Name :</label>
        <div class="col-sm-6">
          <input type="text" name="username" placeholder="User name" />
        </div>
        <div th:if="${usernameError != null}">
          <span th:utext="${usernameError}"></span>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Password:</label>
        <div class="col-sm-6">
          <input type="password" name="password" placeholder="Password" />
        </div>
        <div th:if="${passwordError != null}">
          <span th:utext="${passwordError}"></span>
        </div>
      </div>
      <div th:if="${name == 'registration'}" class="form-group row">
        <label class="col-sm-2 col-form-label">Password confirm:</label>
        <div class="col-sm-6">
          <input type="password" name="password2" placeholder="Password retype" />
        </div>
        <div th:if="${passwordError != null}">
          <span th:utext="${passwordError}"></span>
        </div>
      </div>
      <div>
        <button class="btn btn-primary" type="submit"><span th:utext="${#strings.capitalize(name)}"></span></button>
      </div>
    </form>

  </div>

  <div class="fixed-bottom navbar navbar-expand-lg navbar-light bg-light" th:fragment="footer">
      <footer>
        <div>
          <small>
            Обращаем ваше внимание на то, что данный интернет-сайт носит исключительно учебный характер
          </small>
        </div>
      </footer>
  </div>
</body>
</html>